

<div class="container">
    <h1 style="margin: 25px 0 25px 0;"><strong>SOBRE NOSOTROS</strong></h1>
    <div class="card">
        <div class="row">
            <div class="col">
                <img src="https://foodcary.com/wp-content/uploads/2020/03/V-Pizza.jpg" alt="Alternate Text" class="img-fluid" />
            </div>
            <div class="col">
                <div class="card border-0" style="margin: 15px;">
                    <h3 class="text-justify">
                        Somos una pizzería de familia, fundada en el 2006 por una pareja joven de programadores. Ahora, 15 años después de nuestro inicio, contamos con 10 sucursales en todo el país.
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <a href="/Home/Index" class="btn btn-primary" style="margin: 10px 0 0 0;">Volver a Inicio</a>
</div>
